<!doctype html>
<html>
<head>
    <title>RichInk</title>

    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="form-structor">
        <div class="signup">
        <h1>Rich Ink</h1>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><button class="submit-btn">Login</button></a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span><button class="submit-btn">Sign up</button></a>

        </div>

            </div>
        </div>
    </div>



</div>
</body>
</html>